
html, body{
    
    width: 100%;
    height: 100%;
    padding: 0; /* top-bottom: 0, left-right: 3% */
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: bold;
}

header {
    height: 8%;
}

header img{
    height: 90%;
    margin-left: 10px;
    margin-top: 4px;
    float: left;
}

header ul {
    list-style-type: none;
    padding: 0;
    float: left;
    margin-top: 35px;
}

header ul li {
    float: left;
    margin-left: 20px;
}

header button {
    height: 100%;
    width: 80px;
    border: none;
    float: right;
    margin-right: 100px;
    background-color: #006845;
    color: white;
    transition: 3s;
}

header button:hover {/* chỉ áp dụng phần Css bên trong khi button được hover*/
border: 2px solid #006845;
background-color: white;
color: #006845;
cursor: pointer;
opacity: 0.3;/*0.0 -> 1.0*/
/*transition: 3s;*/
}

.intro{
    width: 100%;
    height: 90%;
}

.intro img {
    height: 100%;
    width: 40%;
    float: left;
    opacity: 0.7;/*0.0 -> 1.0*/
}

.intro div{
    float: left;
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    padding-top: 300px;
    padding-left: 12%;
    padding-right: 12%;
}

.intro h1, .intro p{
    text-align: right;
}

.intro h1{
    color: #006845;
}

.information{
    width: 100%;
    height: 50%;
    padding-left:15% ;
}

.bg-green{
    background-color: #006845;
    color: white;

}


.information img{
    height: 100%;
    float: left;
    position: relative;
    top: 50px;
}

.information p{
    font-size: 1.63rem;
    float:left;
    width: 35%;
    margin-top: 200px;
    line-height: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#img-position-custom{
    top:-50px;
}

img+p{
    margin-left: 80px;
}